.header {
  padding: 1rem 0 3rem;
  text-align: center;
}

.title {
  color: #000000cc;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

.nav-item {
  color: #999999;
  text-decoration: none;
  margin-right: 1.3rem;
}

.nav-item:hover {
  color: #222222;
}

.active-nav-item {
  color: #222222;
  font-weight: bold;
}

//1:27:16